@media only screen and (max-width: 1024px) {
  .body {
    width: 100%;
  }
  .row .box_container {
    width: 30rem;
    margin-bottom: 22px;
  }
  .row .team_img_section {
    width: 29rem;
    height: 14rem;
    margin-right: 16px;
  }
  .row .team_img_section .pic_section {
    width: 30rem;
  }
  .row .team_img_section .team_info p {
    width: 78%;
  }
  .row .team_img_section .pic_section .team_pic-section {
    height: 8rem;
    width: 11rem;
  }
  .row .box_container_section {
    margin-left: 9px;
    margin-right: 19px;
    height: 44rem;
  }
  .row #accordionExample {
    padding-left: 20px;
    padding-right: 20px;
  }
  .row .contact_form_section {
    width: 33rem;
  }
  .row .footer_secound_section .social_secation_footer {
    width: 15rem;
  }
  .row .col-6 ul {
    width: 31rem;
    font-size: 0.9rem;
  }
  .row .pera_colum_ {
    font-size: 0.99rem;
  }
  ._container-colum23 {
    width: 62rem;
    padding: 13rem;
  }
  #home_section {
    height: 60rem;
  }
  ._container-colum23 .img_section_columa35 .containet_img {
    width: 30rem;
  }
  .container .navbar_hoder h1 {
    margin-right: 4px;
  }
  .container .navrbar_containetr {
    font-size: 0.9rem;
  }
  .container .navrbar_containetr .navbar_ul {
    font-size: 0.87rem;
    padding-left: 39px;
  }
  .home_container {
    padding-left: 8px;
  }
  .row .section_colum36 .img_container {
    width: 170px;
  }

  .row .Photo_section {
    padding-top: 5rem;
  }
  .row .col-6 img {
    padding-top: 5rem;
  }
  .brand_container .row .img_container img {
    width: 5rem;
  }
}

/* Ipade Air */
@media only screen and (max-width: 991px) {
  .row .cta_btn-section {
    width: 100%;
    display: flex;
    /* justify-content: flex-end;  */
  }
  ul.nav-active{
    display: block!important;
    background-color: white;
  }
  .navrbar_containetr .navbar_ul{
    display: none;
  }
  .row .cta_container_section {
    text-align: center;
    width: 100%;
  }
  #cta {
    height: 32rem;
    background-attachment: scroll;
  }
  .row .team_img_section {
    width: 45rem;
    margin-bottom: 31px;
  }
  .row .team_img_section .pic_section .team_info p {
    width: 142%;
  }
  .row .contact_info_section {
    width: 45rem;
    margin-bottom: 30px;
  }
  .row .contact_form_section {
    width: 45rem;
    margin-top: 30px;
  }
  .row .contact_form_section .contact_container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .row .contact_info_section .address {
    padding-left: 25px;
  }
  .row .contact_info_section .map_section {
    padding-left: 25px;
    padding-right: 25px;
  }
  .row .footer_secound_section {
    width: 50%;
  }
  .why-us-section .container .row {
    flex-direction: column-reverse;
  }
  .why-us-section .container .row .Photo_section {
    width: 48rem;
    padding-top: 0rem;
  }
  .why-us-section .container .row .col-7 {
    width: 47rem;
    margin-top: 4rem;
  }
  #skills .container .row {
    flex-direction: column;
  }
  #skills .container .row .col-6 {
    width: 100%;
    margin-bottom: 3rem;
  }

  #services .container .row .box_container {
    width: 50%;
  }
  .about_us .container .row {
    flex-direction: column;
  }
  .about_us .container .row .col-6 {
    width: 45rem;
    margin-bottom: 2rem;
  }
  .brand_container .row .section_colum36 {
    display: contents;
  }
  
  .box_container_section {
    width: 28rem !important;
    width: 28rem !important;
    margin-left: 7rem !important;
    margin-right: 7rem !important;
    margin-bottom: 42px;
    height: 36rem !important;
  }
  ._container-colum23 {
    flex-direction: column-reverse;
    padding-top: 100px;
    padding-left: 20px;
    /* padding-right: 20px; */
    width: 50rem;
    padding-right: 20px;
    text-align: center;
    align-items: center;
  }
  .colum24_container {
    align-items: center;
  }
  .colum24_container h1 {
    font-size: 3rem;
    width: 100%;
    margin-top: 17px;
  }
  .colum25_btn .text-light {
    padding: 14px 26px;
  }
  .footer_up_containet form {
    width: 27rem;
  }
  .footer_up_containet form .input_colum {
    width: 20rem;
  }
  .footer_up_containet form .input_colum36 {
    left: -8rem;
    top: 19px;
  }
  #brand_img-section_colum35 .container .row .section_colum36 {
    display: contents;
  }
  #brand_img-section_colum35 {
    height: 12rem;
  }
  #brand_img-section_colum35 .container .row {
    width: 47.5rem;
  }
  #brand_img-section_colum35 .container .row .section_colum36 .img_container {
    width: 253px;
  }
  #home_section {
    height: 68rem;
  }
  .img_section_columa35 {
    width: 100%;
  }
  .img_section_columa35 img {
    width: 21rem !important;
    height: 21rem;
    margin-top: 9rem;
  }
  .dropdown{
    width: 50%;
  }
  .navbar_ul li{
    width: 90%;
    background-color: white;
  }
  .navbar_ul li a{
    color: #37517e;
  }
  .navbar_ul{
    margin-top: 33px;
    margin-right: -19px;
    height: 51rem;
    width: 95%;
  }
  .btn_section{
    width: 109%;
  }
  .btn_section a{
    padding-right: 35rem;
  }
  .navrbar_containetr i{
    display: block;
  }

  /* Mobile responsive */
  
  .navbar_ul {
    flex-direction: column;
    display: none;
  }
  .navbar_mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(40, 58, 90, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 0px;
    bottom: 20px;
    left: 20px;

    border-radius: 10px;
  
     
  }

}
@media only screen and (max-width: 768px){
html,body{
    overflow-x: hidden;
}
 
#home_section{
  height: 53rem;
}

.img_section_columa35 img{
  
  margin-top: 9rem;
}
.colum24_container h1{
  font-size: 28px;
  line-height: 1.3;
  font-weight: bold;
}
.colum24_container h2{
  font-size: 1rem;
  line-height: 1.3;
  font-weight: bold;
  width: 100%;
}
._container-colum23{
  padding-left: 86px;
  padding-right: 25px;
}
.colum25_btn{
  font-size: 20px;

}
.colum25_btn .text-light{
  padding: 20px 29px;
  border-radius: 50px;
}
#brand_img-section_colum35 .row{
  width: 24.5rem!important;

}
#brand_img-section_colum35{
  height: 15rem;

}
.section_colum36 .img_container{
  width: 195px !important;
}
.section_colum36 img{
  width: 4rem;
}
.col-6 P{
  width: 100%;
  font-size: 15px;
}
.col-6 ul{
  width: 98% !important;
}
.pera_colum_ p{
  width: 103%;
  font-size: 15px;
}
#services .container .row .box_container{
  width: 100%;

}
.section-title p{
  width: 100%;
  font-size: 15px;
}
.protfolio_heading_section p{
  width: 100%;
  font-size: 15px;
}
.team-heading_section p{
  width: 100%;
  font-size: 15px;
}
.pricing_heading_section p{
  width: 100%;
  font-size: 15px;
}
.team_info p{
  width: 66% !important;
}
.row .team_img_section{
  height: 15rem;
  /* padding-bottom: 20px !important; */
  margin-bottom: 20px; 
}
#Pricing .row{
  width: 100%;
}
.box_container_section{
  margin-left: 12px !important;
  margin-right: 0px !important;
  width: 23rem !important;

}
.box_section_colam34{
  padding: 20px;
}
.faq_heading_section p{
  width: 100%;
  font-size: 15px;
}
.contact_heading_section p{
  width: 100%;
  font-size: 15px;
}
.form_details{
  width: 18rem !important;
}
.form_details .input_colum{
  width: 14rem !important;
}
.input_colum36{
  left: 1.5rem !important;
    position: relative;
    top: -2.5rem !important;
    right: 17rem;
    padding: 1px 13px;
}
.contact_info_section{
  width: 96% !important;
  margin-left: 7px;
  margin-right: 0px;
}
.contact_form_section{
  width: 96% !important;
  margin-left: 7px;
}
.footer_up_containet h4{
  width: 134%;
  font-size: 21px;
}
.footer_secound .row{
  width: 100%;

}
.footer_secound_section{
  width: 52% !important;
}
.footer_bottom{
  padding: 41px;
}
.fs-8{
  width: 100%;
  margin-bottom: 0px;
}
.dropdown{
  width: 50%;
}
.navbar_ul li{
  width: 90%;
  background-color: white;
}
.navbar_ul li a{
  color: #37517e;
}
.navbar_ul{
  margin-top: 33px;
  margin-right: 0px;
  height: 51rem;
  width: 93%;
}
.btn_section{
  width: 109%;
}
.btn_section a{
  padding-right: 14rem;
  color: #37517e;

}
.navrbar_containetr i{
  display: block;
}
._container-colum23{
  padding: 0px;
  /* height: 43rem; */
  width: 100%;
}
}