@media only screen and (max-width: 1024px) {
  .body {
    width: 100%;
  }
  .row .box_container {
    width: 30rem;
    margin-bottom: 22px;
  }
  .row .team_img_section {
    width: 29rem;
    height: 14rem;
    margin-right: 16px;
  }
  .row .team_img_section .pic_section {
    width: 30rem;
  }
  .row .team_img_section .team_info p {
    width: 78%;
  }
  .row .team_img_section .pic_section .team_pic-section {
    height: 8rem;
    width: 11rem;
  }
  .row .box_container_section {
    margin-left: 9px;
    margin-right: 19px;
    height: 44rem;
  }
  .row #accordionExample {
    padding-left: 20px;
    padding-right: 20px;
  }
  .row .contact_form_section {
    width: 33rem;
  }
  .row .footer_secound_section .social_secation_footer {
    width: 15rem;
  }
  .row .col-6 ul {
    width: 31rem;
    font-size: 0.9rem;
  }
  .row .pera_colum_ {
    font-size: 0.99rem;
  }
  ._container-colum23 {
    width: 62rem;
    padding: 13rem;
  }
  #home_section {
    height: 60rem;
  }
  ._container-colum23 .img_section_columa35 .containet_img {
    width: 30rem;
  }
  .container .navbar_hoder h1 {
    margin-right: 4px;
  }
  .container .navrbar_containetr {
    font-size: 0.9rem;
  }
  .container .navrbar_containetr .navbar_ul {
    font-size: 0.87rem;

    padding-left: 48px;
  }
  .home_container {
    padding-left: 8px;
  }
  .row .section_colum36 .img_container {
    width: 170px;
  }

  .row .Photo_section {
    padding-top: 5rem;
  }
  .row .col-6 img {
    padding-top: 5rem;
  }
  .brand_container .row .img_container img {
    width: 5rem;
  }
}






/* Ipade Air */
@media only screen and (max-width: 820px) {
  .row .cta_btn-section {
    width: 100%;
    display: flex;
    /* justify-content: flex-end; */
  }
  .row .cta_container_section {
    text-align: center;
    width: 100%;
  }
  #cta {
    height: 32rem;
    background-attachment: scroll;
  }
  .row .team_img_section {
    width: 45rem;
    margin-bottom: 31px;
  }
  .row .team_img_section .pic_section .team_info p {
    width: 142%;
  }
  .row .contact_info_section {
    width: 45rem;
    margin-bottom: 30px;
  }
  .row .contact_form_section {
    width: 45rem;
    margin-top: 30px;
  }
  .row .contact_form_section .contact_container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .row .contact_info_section .address {
    padding-left: 25px;
  }
  .row .contact_info_section .map_section {
    padding-left: 25px;
    padding-right: 25px;
  }
  .row .footer_secound_section {
    width: 50%;
  }
  .why-us-section .container .row {
    flex-direction: column-reverse;
  }
  .why-us-section .container .row .Photo_section {
    width: 48rem;
    padding-top: 0rem;
  }
  .why-us-section .container .row .col-7 {
    width: 47rem;
    margin-top: 4rem;
  }
  #skills .container .row {
    flex-direction: column;
  }
  #skills .container .row .col-6 {
    width: 100%;
    margin-bottom: 3rem;
  }

  #services .container .row .box_container {
    width: 50%;
  }
  .about_us .container .row {
    flex-direction: column;
  }
  .about_us .container .row .col-6 {
    width: 45rem;
    margin-bottom: 2rem;
  }
  .brand_container .row .section_colum36 {
    display: contents;
  }
  #Pricing .row {
    width: 58rem;
  }
  .box_container_section {
    width: 28rem !important;
    width: 28rem !important;
    margin-left: 7rem !important;
    margin-right: 7rem !important;
    margin-bottom: 42px;
    height: 36rem !important;
  }
  ._container-colum23 {
    flex-direction: column-reverse;
    padding-top: 100px;
    padding-left: 88px;
    width: 50rem;
    padding-right: 0px;
    text-align: center;
    align-items: center;
  }
}
